In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"


mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [13]:
study_results1 = study_results.sort_values("Mouse ID", ascending=False)

In [17]:
study_results1 = study_results1.sort_values('Mouse ID').drop_duplicates(['Mouse ID', 'Timepoint'])

In [18]:
merge_df = pd.merge(mouse_metadata,study_results1, on = "Mouse ID", how = 'outer')

In [90]:
merge_df.tail(1)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1887,z969,Naftisol,Male,9,30,0,45.0,0

In [20]:
number_of_mice = len(merge_df['Mouse ID'])

In [21]:
number_of_mice

1888

In [56]:
merge_df1 = merge_df[['Mouse ID','Drug Regimen','Tumor Volume (mm3)']]

In [73]:
count =merge_df1['Drug Regimen'].value_counts()

In [75]:
count

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Stelasyn     181
Placebo      181
Infubinol    178
Ceftamin     178
Propriva     156
Name: Drug Regimen, dtype: int64

In [215]:
naftisol_var = merge_df1[merge_df1['Drug Regimen']=='Naftisol']['Tumor Volume (mm3)'].var()

In [216]:
ramicane_var = merge_df1[merge_df1['Drug Regimen']=='Ramicane']['Tumor Volume (mm3)'].var()

In [217]:
capomulin_var = merge_df1[merge_df1['Drug Regimen']=='Capomulin']['Tumor Volume (mm3)'].var()

In [218]:
ketapril_var = merge_df1[merge_df1['Drug Regimen']=='Ketapril']['Tumor Volume (mm3)'].var()

In [219]:
zoniferol_var = merge_df1[merge_df1['Drug Regimen']=='Zoniferol']['Tumor Volume (mm3)'].var()

In [220]:
stelasyn_var = merge_df1[merge_df1['Drug Regimen']=='Stelasyn']['Tumor Volume (mm3)'].var()

In [221]:
placebo_var = merge_df1[merge_df1['Drug Regimen']=='Placebo']['Tumor Volume (mm3)'].var()

In [222]:
infubinol_var = merge_df1[merge_df1['Drug Regimen']=='Infubinol']['Tumor Volume (mm3)'].var()

In [223]:
ceftamin_var = merge_df1[merge_df1['Drug Regimen']=='Ceftamin']['Tumor Volume (mm3)'].var()

In [224]:
propriva_var = merge_df1[merge_df1['Drug Regimen']=='Propriva']['Tumor Volume (mm3)'].var()

In [225]:
naftisol_sem = merge_df1[merge_df1['Drug Regimen']=='Naftisol']['Tumor Volume (mm3)'].sem()

In [226]:
ramicane_sem = merge_df1[merge_df1['Drug Regimen']=='Ramicane']['Tumor Volume (mm3)'].sem()

In [227]:
capomulin_sem = merge_df1[merge_df1['Drug Regimen']=='Capomulin']['Tumor Volume (mm3)'].sem()

In [228]:
ketapril_sem = merge_df1[merge_df1['Drug Regimen']=='Ketapril']['Tumor Volume (mm3)'].sem()

In [229]:
zoniferol_sem = merge_df1[merge_df1['Drug Regimen']=='Zoniferol']['Tumor Volume (mm3)'].sem()

In [230]:
stelasyn_sem = merge_df1[merge_df1['Drug Regimen']=='Stelasyn']['Tumor Volume (mm3)'].sem()

In [231]:
placebo_sem = merge_df1[merge_df1['Drug Regimen']=='Placebo']['Tumor Volume (mm3)'].sem()

In [232]:
infubinol_sem = merge_df1[merge_df1['Drug Regimen']=='Infubinol']['Tumor Volume (mm3)'].sem()

In [233]:
ceftamin_sem = merge_df1[merge_df1['Drug Regimen']=='Ceftamin']['Tumor Volume (mm3)'].sem()

In [234]:
propriva_sem = merge_df1[merge_df1['Drug Regimen']=='Propriva']['Tumor Volume (mm3)'].sem()

In [235]:
grouped_regimen = merge_df1.groupby(['Drug Regimen'])

In [236]:
grouped_regimen.describe()

             Tumor Volume (mm3)                                             \
                          count       mean       std        min        25%
Drug Regimen
Capomulin                 230.0  40.675741  4.994774  23.343598  37.685933
Ceftamin                  178.0  52.591172  6.268188  45.000000  47.208427
Infubinol                 178.0  52.884795  6.567243  36.321346  47.312353
Ketapril                  188.0  55.235638  8.279709  45.000000  48.232987
Naftisol                  186.0  54.331565  8.134708  45.000000  47.285874
Placebo                   181.0  54.033581  7.821003  45.000000  47.459053
Propriva                  156.0  52.385666  6.573043  45.000000  47.046068
Ramicane                  228.0  40.216745  4.846308  22.050126  36.674635
Stelasyn                  181.0  54.233149  7.710419  45.000000  48.047139
Zoniferol                 182.0  53.236507  6.966589  45.000000  47.337876


                    50%        75%        max
Drug Regimen
Capomulin     41.557809  45.000000  48.158209
Ceftamin      51.776157  56.801438  68.923185
Infubinol     51.820584  57.314444  72.226731
Ketapril      53.698743  60.870951  78.567014
Naftisol      52.509285  59.963034  76.668817
Placebo       52.288934  59.916934  73.212939
Propriva      50.909965  56.491585  72.455421
Ramicane      40.673236  45.000000  47.622816
Stelasyn      52.431737  58.719297  75.123690
Zoniferol     51.818479  57.954259  73.324432

In [237]:
grouped_regimenDF1 = grouped_regimen.describe().loc[:,(slice(None),['mean','50%','std'])]

In [238]:
grouped_regimenDF1

             Tumor Volume (mm3)
                           mean       std        50%
Drug Regimen
Capomulin             40.675741  4.994774  41.557809
Ceftamin              52.591172  6.268188  51.776157
Infubinol             52.884795  6.567243  51.820584
Ketapril              55.235638  8.279709  53.698743
Naftisol              54.331565  8.134708  52.509285
Placebo               54.033581  7.821003  52.288934
Propriva              52.385666  6.573043  50.909965
Ramicane              40.216745  4.846308  40.673236
Stelasyn              54.233149  7.710419  52.431737
Zoniferol             53.236507  6.966589  51.818479

In [239]:

grouped_regimenDF1  = grouped_regimenDF1 .rename(columns={"mean": "Mean", "std": "STD",'50%':'Median'})

In [240]:

grouped_regimenDF1

             Tumor Volume (mm3)
                           Mean       STD     Median
Drug Regimen
Capomulin             40.675741  4.994774  41.557809
Ceftamin              52.591172  6.268188  51.776157
Infubinol             52.884795  6.567243  51.820584
Ketapril              55.235638  8.279709  53.698743
Naftisol              54.331565  8.134708  52.509285
Placebo               54.033581  7.821003  52.288934
Propriva              52.385666  6.573043  50.909965
Ramicane              40.216745  4.846308  40.673236
Stelasyn              54.233149  7.710419  52.431737
Zoniferol             53.236507  6.966589  51.818479

In [241]:
grouped_regimenDF1.columns = grouped_regimenDF1.columns.droplevel(0)

In [242]:
grouped_regimenDF1

                   Mean       STD     Median
Drug Regimen
Capomulin     40.675741  4.994774  41.557809
Ceftamin      52.591172  6.268188  51.776157
Infubinol     52.884795  6.567243  51.820584
Ketapril      55.235638  8.279709  53.698743
Naftisol      54.331565  8.134708  52.509285
Placebo       54.033581  7.821003  52.288934
Propriva      52.385666  6.573043  50.909965
Ramicane      40.216745  4.846308  40.673236
Stelasyn      54.233149  7.710419  52.431737
Zoniferol     53.236507  6.966589  51.818479

In [243]:
grouped_regimenDF1.index

Index(['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo',
       'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],
      dtype='object', name='Drug Regimen')

In [246]:
var_semDF = pd.DataFrame({'Variance': [capomulin_var,ceftamin_var,infubinol_var,ketapril_var,naftisol_var,\
                                      placebo_var,propriva_var, ramicane_var, stelasyn_var, zoniferol_var],\
                         'SEM' :[capomulin_sem,ceftamin_sem,infubinol_sem,ketapril_sem,naftisol_sem,\
                                      placebo_sem,propriva_sem, ramicane_sem, stelasyn_sem, zoniferol_sem]},
                          index = ['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo',
       'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'])

In [247]:
var_semDF

            Variance       SEM
Capomulin  24.947764  0.329346
Ceftamin   39.290177  0.469821
Infubinol  43.128684  0.492236
Ketapril   68.553577  0.603860
Naftisol   66.173479  0.596466
Placebo    61.168083  0.581331
Propriva   43.204897  0.526265
Ramicane   23.486704  0.320955
Stelasyn   59.450562  0.573111
Zoniferol  48.533355  0.516398